/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: RESOLVI_PREPROCESS {
        publishDir = [
            path: { "${params.outdir}/preprocessing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RESOLVI_TRAIN {
        publishDir = [
            path: { "${params.outdir}/training" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RESOLVI_ANALYZE {
        publishDir = [
            [
                path: { "${params.outdir}/analysis" },
                mode: params.publish_dir_mode,
                pattern: "*_analyzed.h5ad"
            ],
            [
                path: { "${params.outdir}/analysis" },
                mode: params.publish_dir_mode,
                pattern: "*_analysis_report.txt"
            ],
            [
                path: { "${params.outdir}/differential_expression" },
                mode: params.publish_dir_mode,
                pattern: "de_results/**",
                saveAs: { filename -> filename.replaceFirst(/de_results\//, '') }
            ],
            [
                path: { "${params.outdir}/differential_abundance" },
                mode: params.publish_dir_mode,
                pattern: "da_results/**",
                saveAs: { filename -> filename.replaceFirst(/da_results\//, '') }
            ]
        ]
    }

    withName: RESOLVI_VISUALIZE {
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: params.publish_dir_mode,
            pattern: "plots/*"
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
